services:
  mongodb:
    image: mongo:latest
    container_name: interview-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  redis:
    image: redis:latest
    container_name: interview-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongodb_data:
