services:
  mongodb:
    image: mongo:latest
    platform: linux/amd64
    container_name: interview-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  mongo-express:
    image: mongo-express
    container_name: interview-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
    depends_on:
      - mongodb

  redis:
    image: redis:latest
    platform: linux/amd64
    container_name: interview-redis
    ports:
      - "6379:6379"
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    platform: linux/amd64
    container_name: interview-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

volumes:
  mongodb_data:
