KRUTRIM_API_KEY=your_krutrim_api_key_here
KRUTRIM_API_URL=https://cloud.olakrutrim.com/v1/chat/completions
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/?appName=YourApp

# Google OAuth Configuration
GOOGLE_CLIENT_ID=14409019261-efo12jcdulklhilhu0817o4n4i3bpsfv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
